<%= form_for(@dish, html: {multiupart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :name, 'Dish', class: "control-label" %>
    <%= f.text_field :name, class: "form-control for-dishes",  id: "for-dishes", placeholder: "Enter a name"%>
  </div>
  <div class="form-group">
    <%= f.label :picture, class: "control-label" %>
    <span class="help-block">Choose your file or paste a url from the internets</span>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    <span class="help-block">Choose a file up to 5MB</span>

    <%= f.text_field :remote_picture_url, class: "form-control for-dishes", id: "dish_remote_picture_url", placeholder: "Paste a URL here" %>
  </div>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>


<script type="text/javascript">
  $('#dish_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
